@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

}
body { 
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);  
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;    
}
.cabecalho-imagen {
    height: 72px;
}
.cabecalho-menu {
    display: flex;
    gap: 32px;
}
.cabecalho-menuitem {
    font-family: 'Sarala', sans-serif;;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}
.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    
}
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32PX;    
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 64px;
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24;
    color: #ECD6C4;
    ;
}
.conteudo-principal-escirto-botão{
    background-color: "#2F2325 ";
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24;
    color: #2F2325;
}
.conteudo-principal-escirto-botão:hover{
    background-color: rgb(233, 214, 196);
} 
.conteudo-principal-imagen{
    margin-top: 40px;
    height: 400px;   

}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}
.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7 ;
    padding-top: 48px;
    font-family: 'Righteous' cursive ;
    font-size: 24px;
    font-weight: 400;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-family: 'Righteous' cursive ;
    font-size: 18px;
    font-weight: 300;
    color: #ECD6C4;   

}
.conteudo-secundario-paragrafo2 {
    font-family: 'Sarala', sans-serif;
    font-family: 'Righteous' cursive ;
    font-size: 18px;
    font-weight: 300;
    color: #ECD6C4; 
}
.conteudo-secundario-paragrafo3{
    font-family: 'Sarala', sans-serif;
    font-family: 'Righteous' cursive ;
    font-size: 18px;
    font-weight: 300;
    color: #ECD6C4; 
}
.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;

}
.rodape-imagen{
    height: 48px;
    display: block;
    margin: 0 auto;

}
.rodape-titulo {
    text-align: center;
    padding-top: 48px;
    font-family: 'Righteous' cursive ;
    font-size: 24px;
    font-weight: 400;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.rodape-menuitem {
    font-family: 'Sarala', sans-serif;;
    color: #FFF2E7;
    font-weight: 300;
    font-size: 18px;
    position: absolute;
    width: 271px;
    height: 44px;
    left: 980px;
}